# Dependencies
node_modules/

# Database
*.db
*.db-journal

# Logs
*.log
npm-debug.log*
pm2*.log

# Environment
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Documentation (unnecessary)
*.md
!README.md
*.bat
FETCH_HEAD

# Build
dist/
build/
.cache/
